.App {
  height: 100vh;
  overflow: scroll;
}

/* form */
.add-book-form {
  padding: 20px 0;
}

.add-image-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.submit-form-btn {
  margin-top: 20px;
  background-color: #c69090 !important;
  color: #fff !important;
  font-weight: 700 !important;
}

@media only screen and (max-width: 480px) {
  /* Navbar logo */
  .logo {
    display: none;
  }
}
